<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <% if user_signed_in? %>
            <li class="nav-item">
                <a class="nav-link" style="color:green">Giriş Yapılan Mail : <strong><%= current_user.email %></strong></a>
            </li>
            <li class="nav-item">
                <%= link_to 'Profil Güncelle', edit_user_registration_path, :class => 'nav-link' %>    
            </li>
            <li class="nav-item">
                <%= link_to "Çıkış Yap", destroy_user_session_path, method: :delete, :class => 'nav-link' %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to"Giriş Yap", new_user_session_path, :class => 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to "Kayıt Ol", new_user_registration_path, :class => 'nav-link' %>
            </li>
        <% end %> 
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Ara ...">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
    </form>
  </div>
</nav>
